GOOGLE_CLIENT_SECRET: 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
NAVER_CLIENT_SECRET: R8ldS4hkJ5
KAKAO_CLIENT_SECRET: w9oGEBYfc2oMjPUz82swO06065cH8cr1
GITHUB_CLIENT_SECRET: 64159f868f5bc08d4dd558f964d2ae1298267a63
MYSQL_USER: login
MYSQL_HOST: mysql-login
MYSQL_DATABASE: oauth2
MYSQL_PASSWORD: password
JWT_SECRET: d342368781b90fdd52a18d49187fa56366b5ff805bbeec9836a3811311d60b210f6f904